<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.org.mapper.AreaMapper" >

    <resultMap id="areaResultMap" type="area">
		<result column="area_id" property="areaId" />
		<result column="area_code" property="areaCode" />
		<result column="area_name" property="areaName" />
		<result column="parent_code" property="parentCode" />
		<result column="zip_code" property="zipCode" />
		<result column="area_number" property="areaNumber" />
		<result column="operator" property="operator" />
		<result column="area_level" property="areaLevel" />
		<result column="extends_info" property="extendsInfo" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<select id="findByParent" parameterType="int" resultMap="areaResultMap">
	    <include refid="sql_select"/>
	        from hive_area where parent_code = #{parentCode} order by area_id
	</select>
	
	<select id="findChildrenCode" parameterType="int" resultType="int">
	    select area_code from hive_area where parent_code = #{parentCode} order by area_id
	</select>
	
	<select id="loadByCode" parameterType="int" resultMap="areaResultMap">
	    <include refid="sql_select"/>
	    from hive_area where area_code = #{areaCode}
	</select>
	
	<select id="findByPrefix" parameterType="map" resultMap="areaResultMap">
	    <include refid="sql_select"/>
	        from hive_area where area_code like CONCAT(#{prefixCode},'%') and area_level = #{areaLevel} order by area_id
	</select>
	
	<update id="updateExtendsInfo" parameterType="map">
	    update hive_area set extends_info = #{extendsInfo} where area_id = #{areaId}
	</update>
	
	<sql id="sql_select">
		select
			area_id,
			area_code,
			area_name,
			parent_code,
			zip_code,
			area_number,
			operator,
			area_level,
			extends_info,
			gmt_create,
			gmt_modify
	</sql>
	
</mapper>