<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.org.mapper.DeptMapper" >

    <resultMap id="deptResultMap" type="dept">
        <result column="dept_id" property="deptId" />
        <result column="org_id" property="orgId" />
        <result column="tp_type" property="tpType" />
		<result column="tp_id" property="tpId" />
		<result column="dept_name" property="deptName" />
		<result column="parent_id" property="parentId" />
		<result column="tp_extend" property="tpExtend" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<insert id="insert" parameterType="dept">
	    insert into sky_dept (
	        dept_id,
	        org_id,
	        tp_type,
	        tp_id,
	        dept_name,
	        parent_id,
	        tp_extend,
	        gmt_create,
	        gmt_modify
	    ) values (
	        #{deptId},
	        #{orgId},
	        #{tpType},
	        #{tpId},
	        #{deptName},
	        #{parentId},
	        #{tpExtend},
	        now(3),
	        now(3)
	    ) ON DUPLICATE KEY UPDATE gmt_modify = now(3)
	</insert>
	
	<update id="update" parameterType="dept">
	    update sky_dept
	    <set>
		<if test="deptName != null">
			dept_name=#{deptName},
		</if>
		<if test="parentId != null">
			parent_id=#{parentId},
		</if>
		<if test="tpExtend != null">
			tp_extend=#{tpExtend},
		</if>
		gmt_modify = now(3)
		</set>
		where org_id = #{orgId} and dept_id = #{deptId}
	</update>
	
	<select id="findDepts" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept 
	    where org_id = #{orgId}
	    <if test="parentId != null">
	    and parent_id = #{parentId}
	    </if>
	    <if test="parentId == null">
	    and parent_id = 0
	    </if>
	    order by gmt_create
	</select>
	
	<select id="findDeptNamesByIds" parameterType="map" resultType="string">
	    select dept_name from sky_dept where org_id = #{orgId} and parent_id > 0 and dept_id in
	    <foreach collection="deptIdList" index="index" item="deptId" open="(" separator="," close=")">#{deptId}</foreach>
	</select>
	
	<select id="findDeptNamesWithoutRootByIds" parameterType="map" resultType="string">
	    select dept_name from sky_dept where org_id = #{orgId} and parent_id > 0 and dept_id in 
	    <foreach collection="deptIdList" index="index" item="deptId" open="(" separator="," close=")">#{deptId}</foreach>
	</select>
	
	<select id="findDeptByIds" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept where org_id = #{orgId} and dept_id in 
	    <foreach collection="deptIdList" index="index" item="deptId" open="(" separator="," close=")">#{deptId}</foreach>
	</select>
	
	<select id="loadByName" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept
	    where org_id = #{orgId}
	    and dept_name = #{deptName}
	</select>
	
	<select id="loadRoot" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept
	    where org_id = #{orgId}
	    and parent_id = 0
	</select>
	
	<select id="loadByTpId" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept
	    where org_id = #{orgId}
	    and tp_id = #{tpId}
	</select>
	
	<select id="load" parameterType="map" resultMap="deptResultMap">
	    <include refid="sql_select"/>
	    from sky_dept
	    where org_id = #{orgId}
	    and dept_id = #{deptId}
	</select>
	
	<select id="findDeptIdByDeptName" parameterType="map" resultType="long">
	    select dept_id from sky_dept where org_id = #{orgId} and parent_id > 0 and dept_name like CONCAT('%',#{deptName},'%')
	</select>
	
	<select id="count" parameterType="long" resultType="int">
	    select count(*)
	    from sky_dept
	    where org_id = #{orgId} and parent_id > 1
	</select>
	
	<delete id="deleteByTpId" parameterType="map">
	    delete from sky_dept where org_id = #{orgId} and tp_id = #{tpId}
	</delete>

	<delete id="deleteByDeptId" parameterType="map">
		delete from sky_dept where org_id = #{orgId} and dept_id = #{deptId}
	</delete>
	
	<select id="findTpId" parameterType="map" resultType="long">
	    select tp_id from sky_dept where org_id = #{orgId}
	</select>
	
	<select id="findTpIdByIds" parameterType="map" resultType="long">
	    select tp_id from sky_dept where org_id = #{orgId} and dept_id in 
	    <foreach collection="deptIdList" index="index" item="deptId" open="(" separator="," close=")">#{deptId}</foreach>
	</select>
	
	<sql id="sql_select">
		select
			dept_id,
	        tp_id,
			org_id,
			dept_name,
			parent_id,
			tp_extend,
			gmt_create,
			gmt_modify
	</sql>
	
</mapper>