<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.member.mapper.GroupRangeMapper" >

    <resultMap id="groupRangeResultMap" type="groupRange">
        <result column="group_range_id" property="groupRangeId" />
		<result column="org_id" property="orgId" />
		<result column="group_id" property="groupId" />
		<result column="range_type" property="rangeType" />
		<result column="range_id" property="rangeId" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<insert id="insert" parameterType="groupRange">
	    insert into hive_group_range (
	        group_range_id,
			org_id,
			group_id,
			range_type,
			range_id,
			gmt_create,
			gmt_modify
	    ) values (
	        #{groupRangeId},
	        #{orgId},
	        #{groupId},
	        #{rangeType},
	        #{rangeId},
	        now(6),
	        now(6)
	    )
	</insert>
	
	<select id="findRangeIdByGroupId" parameterType="map" resultType="long">
	    select range_id from hive_group_range where org_id = #{orgId} and group_id = #{groupId} and range_type = #{rangeType} order by range_id
	</select>
	
	<delete id="delete" parameterType="groupRange">
	    delete from hive_group_range where org_id = #{orgId} and group_id = #{groupId} and range_type = #{rangeType} and range_id = #{rangeId}
	</delete>
	
	<delete id="deleteByGroupId" parameterType="map">
	    delete from hive_group_range where org_id = #{orgId} and group_id = #{groupId}
	</delete>
	
	<delete id="deleteByRangeId" parameterType="map">
	    delete from hive_group_range where org_id = #{orgId} and range_type = #{rangeType} and range_id = #{rangeId}
	</delete>
	
	<select id="findGroupIdByRanges" parameterType="map" resultType="long">
	    select DISTINCT(group_id) from hive_group_range where org_id = #{orgId} and range_type = #{rangeType} and range_id in
	    <foreach collection="rangeIdList" index="index" item="rangeId" open="(" separator="," close=")">#{rangeId}</foreach>
	</select>
	
	<sql id="sql_select">
		select
			group_range_id,
			org_id,
			group_id,
			range_type,
			range_id,
			gmt_create,
			gmt_modify
	</sql>
	
</mapper>