<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.device.mapper.AlarmMapper" >

    <resultMap id="alarmResultMap" type="Alarm">
		<result column="ID" property="id" />
		<result column="SERIAL_NUMBER" property="serialNumber" />
		<result column="OWNER_ID" property="ownerId" />
		<result column="MAIN_TYPE" property="mainType" />
		<result column="SUB_TYPE" property="subType" />
		<result column="SEVERITY" property="severity" />
		<result column="DEAL" property="deal" />
		<result column="DEAL_OPINION" property="dealOpinion" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
	</resultMap>

    <update id="update" parameterType="Alarm">
       update hive_da_alarm set DEAL=#{deal} ,DEAL_OPINION=#{dealOpinion},UPDATED_AT=now() where ID=#{id}
    </update>
	 
	<select id="getById" parameterType="map" resultMap="alarmResultMap">
	    <include refid="sql_select"/>
	    from hive_da_alarm where ID = #{id}
	</select>	
	
	<select id="getTotalCountByCondition" resultType="int" parameterType="alarmQueryCondition" >
		select 
			count(*)		
		<include refid="condition_sql_where"/>
	</select>
	
	<select id="findPaginationByCondition" resultMap="alarmResultMap" parameterType="alarmQueryCondition" >
		<include refid="sql_select"/>			
		<include refid="condition_sql_where"/>
			order by CREATED_AT desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<sql id="sql_select">
		select ID,SERIAL_NUMBER,OWNER_ID,MAIN_TYPE,SUB_TYPE,SEVERITY,DEAL,DEAL_OPINION,CREATED_AT,UPDATED_AT
	</sql>
	
	<sql id="condition_sql_where">
	    from hive_da_alarm
	    <where>
		<if test="serialNumber != null">
		      and SERIAL_NUMBER = #{serialNumber}
		</if>
		<if test="mainType != null">
		      and MAIN_TYPE = #{mainType}
		</if>
		<if test="subType != null">
		      and SUB_TYPE = #{subType}
		</if>
		<if test="severity != null">
		      and SEVERITY = #{severity}
		</if>
		<if test="deal != null">
		      and DEAL = #{deal}
		</if> 
		</where>
	</sql>
</mapper>