<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moredian.fishnet.device.mapper.BaseDeviceMapper" >
	<resultMap type="java.util.Map" id="resultMap">
		<result property="[id]" column="ID" />
		<result property="[createdAt]" column="CREATED_AT" />
		<result property="[updatedAt]" column="UPDATED_AT" />
		<result property="[ownerId]" column="OWNER_ID" />
		<result property="[activeTime]" column="ACTIVE_TIME" />
		<result property="[batchNo]" column="BATCH_NO" />	
		<result property="[communicator]" column="COMMUNICATOR" />
		<result property="[communicatorMaster]" column="COMMUNICATOR_MASTER" />
		<result property="[connectivity]" column="CONNECTIVITY" />	
		<result property="[countryCode]" column="COUNTRY_CODE" />
		<result property="[cpuUsage]" column="CPU_USAGE" />
		<result property="[deviceModel]" column="DEVICE_MODEL" />	
		<result property="[deviceType]" column="DEVICE_TYPE" />
		<result property="[displayVersion]" column="DISPLAY_VERSION" />
		<result property="[domainName]" column="DOMAIN_NAME" />	
		<result property="[extendedInf]" column="EXTENDED_INF" />
		<result property="[gateway]" column="GATEWAY" />
		<result property="[hardwareVersion]" column="HARDWARE_VERSION" />		
		<result property="[ipAddress]" column="IP_ADDRESS" />	
		<result property="[ipType]" column="IP_TYPE" />	
		<result property="[isSimulate]" column="IS_SIMULATE" />	
		<result property="[location]" column="LOCATION" />	
		<result property="[macAddress]" column="MAC_ADDRESS" />	
		<result property="[managedStatus]" column="MANAGED_STATUS" />	
		<result property="[memoryUsage]" column="MEMORY_USAGE" />	
		<result property="[netmask]" column="NETMASK" />	
		<result property="[os]" column="OS" />	
		<result property="[osVersion]" column="OS_VERSION" />	
		<result property="[previousCommunicator]" column="PREVIOUS_COMMUNICATOR" />	
		<result property="[provider]" column="PROVIDER" />	
		<result property="[reconnectReson]" column="RECONNECT_REASON" />	
		<result property="[regionCode]" column="REGION_CODE" />	
		<result property="[securityKey]" column="SECURITY_KEY" />	
		<result property="[serialNumber]" column="SERIAL_NUMBER" />	
		<result property="[softwareVersion]" column="SOFTWARE_VERSION" />	
		<result property="[upTime]" column="UP_TIME" />	
		<result property="cpuId" column="CPU_ID" />	
	</resultMap>
	<insert id="insert" parameterType="java.util.Map">
		INSERT INTO <include refid="sql_table" /> (<include refid="sql_field" />) VALUES (<include refid="sql_insert" />);
    </insert>
    <select id="getByCondition" parameterType="java.util.Map" resultMap="resultMap">  
		select <include refid="sql_field" /> from  <include refid="sql_table" /> <include refid="sql_condition" />   limit 1;
   </select>
    <select id="findByCondition" parameterType="java.util.Map" resultMap="resultMap">  
		select <include refid="sql_field" /> from <include refid="sql_table" /> <include refid="sql_condition" />;
   </select> 
	<update id="updateByCondition" parameterType="map">
		update <include refid="sql_table" /> <include refid="sql_update" /> <include refid="sql_condition" />;		
	</update>
	<delete id="deleteByCondition" parameterType="map">
		delete from <include refid="sql_table" /> <include refid="sql_condition" />
	</delete>
    <sql id="sql_table">
		da_base_device
	</sql>	
	 <sql id="sql_field">
		ID,
		CREATED_AT,
		UPDATED_AT,
		OWNER_ID,
		ACTIVE_TIME,
		BATCH_NO,
		COMMUNICATOR,
		COMMUNICATOR_MASTER,
		CONNECTIVITY,
		COUNTRY_CODE,
		CPU_USAGE,
		DEVICE_MODEL,
		DEVICE_TYPE,
		DISPLAY_VERSION,
		DOMAIN_NAME,
		EXTENDED_INF,
		GATEWAY,
		HARDWARE_VERSION,
		IP_ADDRESS,
		IP_TYPE,
		IS_SIMULATE,
		LOCATION,
		MAC_ADDRESS,
		MANAGED_STATUS,
		MEMORY_USAGE,
		NETMASK,
		OS,
		OS_VERSION,
		PREVIOUS_COMMUNICATOR,
		PROVIDER,
		RECONNECT_REASON,
		REGION_CODE,
		SECURITY_KEY,
		SERIAL_NUMBER,
		SOFTWARE_VERSION,
		UP_TIME,
		CPU_ID
	</sql>		
	<sql id="sql_insert">
	    #{model[id]},
		 #{model[createdAt]},
		 #{model[updatedAt]},
	    #{model[ownerId]},
		 #{model[activeTime]},
		 #{model[batchNo]},
	    #{model[communicator]},
		 #{model[communicatorMaster]},
		 #{model[connectivity]},
	    #{model[countryCode]},
		 #{model[cpuUsage]},
		 #{model[deviceModel]},
	    #{model[deviceType]},
		 #{model[displayVersion]},
		 #{model[domainName]},
	    #{model[extendedInf]},
		 #{model[gateway]},
		 #{model[hardwareVersion]},
	    #{model[ipAddress]},
		 #{model[ipType]},
		 #{model[isSimulate]},
	    #{model[location]},
		 #{model[macAddress]},
		 #{model[managedStatus]},
	    #{model[memoryUsage]},
		 #{model[netmask]},
		 #{model[os]},
		 #{model[osVersion]},
		 #{model[previousCommunicator]},
		#{model[provider]},
		 #{model[reconnectReson]},	 
		 #{model[regionCode]},
		 #{model[securityKey]},
		 #{model[serialNumber]},
		 #{model[softwareVersion]},
		#{model[upTime]},
		#{model[cpuId]}
	</sql>
	 <sql id="sql_update">
	   <set>
		<if test="model.get('serialNumber') != null">
		      SERIAL_NUMBER =  #{model[serialNumber]},
		</if>
		<if test="model.get('macAddress') != null">
		      MAC_ADDRESS =  #{model[macAddress]},
		</if>
		<if test="model.get('updatedAt') != null">
		      UPDATED_AT =  #{model[updatedAt]},
		</if>  
		</set>
	</sql>
    <sql id="sql_condition">
	    <where>
		<if test="condition.get('id') != null">
		      and ID =  #{condition[id]}
		</if>
		<if test="condition.get('ownerId') != null">
		      and OWNER_ID =  #{condition[ownerId]}
		</if>
		<if test="condition.get('serialNumber') != null">
		      and SERIAL_NUMBER =  #{condition[serialNumber]}
		</if>
		<if test="condition.get('macAddress') != null">
		      and MAC_ADDRESS =  #{condition[macAddress]}
		</if>
		</where>
	</sql>	
	<sql id="sql_orderBy">order by ACTIVE_TIME desc</sql>
	<sql id="sql_paging">limit #{condition[pageIndex]}, #{condition[pageSize]}</sql>
</mapper>