<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.device.mapper.WhiteDeviceMapper" >

    <resultMap id="whiteDeviceResultMap" type="inventoryDevice">
		<result column="serial_number" property="serialNumber" />
		<result column="mac_address" property="macAddress" />
		<result column="mac_address_2" property="macAddress2" />
		<result column="device_type" property="deviceType" />
		<result column="private_key" property="secretKey" />
		<result column="batch_flag" property="patchFlag" />
		<result column="activityStatus" property="activityStatus" />
		<result column="org_id" property="orgId" />
		<result column="activation_code" property="activationCode" />
		<result column="created_at" property="gmtCreate" />
		<result column="updated_at" property="gmtModify" />
	</resultMap>	
	
 	<select id="getTotalCountByCondition" resultType="int" parameterType="whiteDeviceQueryCondition" >
		select 
			count(*)		
		<include refid="condition_sql_where"/>
	</select>
	
	<select id="findPaginationByCondition" resultMap="whiteDeviceResultMap" parameterType="whiteDeviceQueryCondition" >
		<include refid="sql_select"/>			
		<include refid="condition_sql_where"/>
			order by created_at desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<sql id="sql_select">
		select
			serial_number,
			mac_address,
			mac_address_2,
			device_type,
			private_key,
			batch_flag,
			org_id,
			activity_status,
			activation_code,
			created_at,
			updated_at
	</sql>
	
	<insert id="insert" parameterType="inventoryDevice">
	    insert into da_device_inventory (
	        serial_number,
			mac_address,
			mac_address_2,
			device_type,
			private_key,
			batch_flag,
			org_id,
			activity_status,
			activation_code,
			created_at,
			updated_at
	    ) values (
	        #{serialNumber},
	        #{macAddress},
	        #{macAddress2},
	         #{deviceType},
	        #{secretKey},
	        #{patchFlag},
	        #{orgId},
	        #{activityStatus},
	        #{activationCode},
	        now(3),
	        now(3)
	    )
	</insert>
	
	<delete id="delete" parameterType="string">
	    delete from da_device_inventory where serial_number = #{deviceSn}
	</delete>
	
	<sql id="condition_sql_where">
	    from da_device_inventory
	    <where>
		serial_number is not null
		<if test="serialNumber != null">
		      and serial_number = #{serialNumber}
		</if>
		<if test="macAddress != null">
		      and mac_address = #{macAddress}
		</if>
		<if test="macAddress2 != null">
			and mac_address_2 = #{macAddress2}
		</if>
			<if test="deviceType != null">
				and device_type = #{deviceType}
			</if>
		<if test="secretKey != null">
		      and private_key = #{secretKey}
		</if>
		<if test="patchFlag != null">
		      and batch_flag = #{patchFlag}
		</if>
		<if test="orgId != null">
		      and org_id = #{orgId}
		</if>
			<if test="activityStatus != null">
				and activity_status = #{activityStatus}
			</if>
			<if test="activationCode != null">
				and activation_code = #{activationCode}
			</if>
		</where>
	</sql>
	
</mapper>