<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moredian.skynet.device.mapper.InventoryDeviceMapper" >
	<resultMap type="java.util.Map" id="resultMap">
		<result property="[serialNumber]" column="serial_number" />
		<result property="[macAddress]" column="mac_address" />
		<result property="[macAddress2]" column="mac_address_2" />
		<result property="[deviceType]" column="device_type" />
		<result property="[secretKey]" column="private_key" />
		<result property="[patchFlag]" column="batch_flag" />
		<result  property="[orgId]" column="org_id" />
		<result  property="[activityStatus]" column="activity_status" />
		<result  property="[activationCode]" column="activation_code" />
		<result property="[gmtCreate]" column="created_at" />
		<result  property="[gmtModify]" column="updated_at" />
	</resultMap>

	<select id="getTotalCountByCondition" resultType="int" parameterType="java.util.Map" >
		select
		count(*)
		<include refid="sql_condition"/>
	</select>

	<insert id="insert" parameterType="java.util.Map">
		INSERT INTO <include refid="sql_table" /> (<include refid="sql_field" />) VALUES (<include refid="sql_insert" />);
    </insert>
    <select id="getByCondition" parameterType="java.util.Map" resultMap="resultMap">  
		select <include refid="sql_field" /> from  <include refid="sql_table" /> <include refid="sql_condition" />   limit 1;
   </select>
    <select id="findByCondition" parameterType="java.util.Map" resultMap="resultMap">  
		select <include refid="sql_field" /> from <include refid="sql_table" /> <include refid="sql_condition" />;
   </select> 
	<update id="updateByCondition" parameterType="map">
		update <include refid="sql_table" /> <include refid="sql_update" /> <include refid="sql_condition" />;		
	</update>
	<delete id="deleteByCondition" parameterType="map">
		delete from <include refid="sql_table" /> <include refid="sql_condition" />
	</delete>
    <sql id="sql_table">
		da_device_inventory
	</sql>	
	 <sql id="sql_field">
		serial_number,mac_address,mac_address_2,device_type,private_key,batch_flag,org_id,activity_status,activation_code,created_at,updated_at
	</sql>		
	<sql id="sql_insert">
	    #{model[serialNumber]},
		 #{model[macAddress]},
		 #{model[macAddress2]},
		 #{model[deviceType]},
		 #{model[secretKey]},
		 #{model[patchFlag]},
		#{model[orgId]},
		 #{model[activityStatus]},
		 #{model[activationCode]},
		 now(3),
		 now(3)
	</sql>
	 <sql id="sql_update">
	   <set>
		<if test="model.get('serialNumber') != null">
		      serial_number =  #{model[serialNumber]},
		</if>
		<if test="model.get('macAddress') != null">
		      mac_address =  #{model[macAddress]},
		</if>
		<if test="model.get('macAddress2') != null">
		      mac_address_2 =  #{model[macAddress2]},
		</if>
		   <if test="model.get('deviceType') != null">
			   device_type =  #{model[deviceType]},
		   </if>
		<if test="model.get('secretKey') != null">
		      private_key =  #{model[secretKey]},
		</if>
		 <if test="model.get('orgId') != null">
		   org_id =  #{model[orgId]},
		 </if>
		 <if test="model.get('activityStatus') != null">
			   activity_status =  #{model[activityStatus]},
		  </if>
		   <if test="model.get('activationCode') != null">
			   activation_code =  #{model[activationCode]},
		   </if>
		</set>
	</sql>
    <sql id="sql_condition">
	    <where>
		<if test="condition.get('serialNumber') != null">
		      and serial_number =  #{condition[serialNumber]}
		</if>
		<if test="condition.get('macAddress') != null">
			and mac_address =  #{condition[macAddress]}
		</if>
		<if test="condition.get('macAddress2') != null">
			and mac_address_2 =  #{condition[macAddress2]}
		</if>
			<if test="condition.get('deviceType') != null">
				and device_type =  #{condition[deviceType]}
			</if>
		<if test="condition.get('secretKey') != null">
		      and private_key =  #{condition[secretKey]}
		</if>
			<if test="condition.get('orgId') != null">
				and org_id =  #{condition[orgId]}
			</if>
			<if test="condition.get('activityStatus') != null">
				and activity_status =  #{condition[activityStatus]}
			</if>
			<if test="condition.get('activationCode') != null">
				and activation_code =  #{condition[activationCode]}
			</if>
		</where>
	</sql>	
	<sql id="sql_orderBy">order by serialNumber</sql>
	<sql id="sql_paging">limit #{condition[pageIndex]}, #{condition[pageSize]}</sql>
</mapper>