<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.fishnet.auth.mapper.PermMapper" >

    <resultMap id="permResultMap" type="perm">
		<result column="perm_id" property="permId" />
		<result column="perm_type" property="permType" />
		<result column="perm_name" property="permName" />
		<result column="perm_action" property="permAction" />
		<result column="perm_url" property="permUrl" />
		<result column="perm_desc" property="permDesc" />
		<result column="icon_name" property="iconName" />
		<result column="perm_level" property="permLevel" />
		<result column="children_size" property="childrenSize" />
		<result column="parent_id" property="parentId" />
		<result column="module_type" property="moduleType" />
		<result column="status" property="status" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<insert id="insert" parameterType="perm">
	    insert into auth_perm (
	        perm_id,
	        perm_type,
	        perm_name,
	        perm_action,
	        perm_url,
	        perm_desc,
	        icon_name,
	        perm_level,
	        children_size,
	        parent_id,
	        module_type,
	        status,
	        gmt_create,
	        gmt_modify
	    ) values (
	        #{permId},
	        #{permType},
	        #{permName},
	        #{permAction},
	        #{permUrl},
	        #{permDesc},
	        #{iconName},
	        #{permLevel},
	        #{childrenSize},
	        #{parentId},
	        #{moduleType},
	        #{status},
	        now(6),
	        now(6)
	    )
	</insert>
	
	<select id="loadByPermName" parameterType="map" resultMap="permResultMap">
	    <include refid="sql_select"/>
	    from auth_perm where module_type = #{moduleType} and perm_name = #{permName}
	</select>
	
	<select id="load" parameterType="long" resultMap="permResultMap">
	    <include refid="sql_select"/>
	    from auth_perm where perm_id = #{permId}
	</select>
	
	<update id="update" parameterType="perm">
	    update auth_perm 
	    <set>
	    <if test="permName != null">
	    perm_name = #{permName}, 
	    </if>
	    <if test="permUrl != null">
	    perm_url = #{permUrl},  
	    </if>
	    <if test="permDesc != null">
	    perm_desc = #{permDesc}, 
	    </if>
	    gmt_modify = now(6)
	    </set>
	    where perm_id = #{permId}
	</update>
	
	<update id="updateStatus" parameterType="map">
	    update auth_perm set status = #{status}, gmt_modify = now(6) where perm_id = #{permId}
	</update>
	
	<delete id="deleteById" parameterType="long">
	    delete from auth_perm where perm_id = #{permId}
	</delete>
	
	<select id="getChildrenCount" parameterType="long" resultType="int">
	    select count(*) from auth_perm where parent_id = #{parentId}
	</select>
	
	<select id="findByCondition" parameterType="map" resultMap="permResultMap">
	    <include refid="sql_select"></include>
	    from auth_perm where 1 = 1
	    <if test="moduleType != null">
	    and module_type = #{moduleType}
	    </if>
	    <if test="parentId != null">
	    and parent_id = #{parentId}
	    </if>
	    <if test="permName != null">
	    and perm_name = #{permName}
	    </if>
	</select>
	
	<update id="incChildrenSize" parameterType="long">
	    update auth_perm set children_size = children_size + 1 where perm_id = #{permId}
	</update>
	
	<update id="decChildrenSize" parameterType="long">
	    update auth_perm set children_size = children_size - 1 where perm_id = #{permId}
	</update>
	
	<select id="findPermUrl" parameterType="map" resultType="string">
	    select perm_url from auth_perm where perm_id in
	    <foreach collection="permIdList" index="index" item="permId" open="(" separator="," close=")">#{permId}</foreach>
	</select>
	
	<select id="findPermByOper" parameterType="map" resultMap="permResultMap">
	    <include refid="sql_select"></include>
	    from auth_perm
	    where module_type = #{moduleType} and perm_id in (select perm_id from auth_role_perm where role_id in (select role_id from auth_oper_role where oper_id = #{operId}))
	</select>
	
	<select id="findPermByModule" parameterType="int" resultMap="permResultMap">
	    <include refid="sql_select"></include>
	    from auth_perm
	    where module_type = #{moduleType} order by parent_id
	</select>
	
	<select id="findPermIdByModule" parameterType="int" resultType="long">
	    select perm_id from auth_perm where module_type = #{moduleType}
	</select>
	
	<select id="findChildrenId" parameterType="long" resultType="long">
	    select perm_id from auth_perm where parent_id = #{parentId}
	</select>
	
	<sql id="sql_select">
		select
			perm_id,
	        perm_type,
	        perm_name,
	        perm_action,
	        perm_url,
	        perm_desc,
	        icon_name,
	        perm_level,
	        children_size,
	        parent_id,
	        module_type,
	        status,
	        gmt_create,
	        gmt_modify
	</sql>
	
</mapper>