<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.skynet.org.mapper.PositionSeedMapper" >

    <resultMap id="positionSeedResultMap" type="positionSeed">
		<result column="so_seed_id" property="positionSeedId" />
		<result column="org_id" property="orgId" />
		<result column="parent_id" property="parentId" />
		<result column="parent_code" property="parentCode" />
		<result column="parent_level" property="parentLevel" />
		<result column="child_seed" property="childSeed" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<select id="getByParentId" parameterType="map" resultMap="positionSeedResultMap">
		<include refid="sql_select"/>
		from hive_sub_org_seed
		where 
			parent_id = #{parentId}
			and org_id=#{orgId}
	</select>
	
	<insert id="insert" parameterType="positionSeed">
	    insert into hive_sub_org_seed(
		    so_seed_id,
		    org_id,
		    parent_id,
		    parent_code,
		    parent_level,
		    child_seed,
		    gmt_create,
		    gmt_modify
		) values (
		    #{positionSeedId},
		    #{orgId},
		    #{parentId},
		    #{parentCode},
		    #{parentLevel},
		    #{childSeed},
		    now(6),
		    now(6)
		)
	</insert>
	
	<update id="updateChildSeed" parameterType="map">
        update hive_sub_org_seed 
            set child_seed = #{childSeed}
        where 
            so_seed_id = #{positionSeedId} 
            and child_seed = #{oldChildSeed}
    </update>
	
	
	
	<sql id="sql_select">
		select
			so_seed_id,
			org_id,
			parent_id,
			parent_code,
			parent_level,
			child_seed,
			gmt_create,
			gmt_modify	
	</sql>
	
</mapper>