<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.skynet.auth.mapper.OperRoleMapper" >

    <insert id="insert" parameterType="operRole">
        insert into sky_oper_role (
            oper_role_id, 
            oper_id,
            role_id,
            gmt_create,
            gmt_modify
        ) values (
            #{operRoleId},
            #{operId},
            #{roleId},
            now(6),
            now(6)
        )
    </insert>

    <select id="getCountByRoleId" parameterType="long" resultType="int">
        select count(*) from sky_oper_role where role_id = #{roleId}
    </select>
    
    <select id="findRoleIdByOperId" parameterType="long" resultType="long">
        select role_id from sky_oper_role where oper_id = #{operId}
    </select>
    
    <delete id="delete" parameterType="map">
        delete from sky_oper_role where oper_id = #{operId} and role_id = #{roleId}
    </delete>
    
    <delete id="deleteByOper" parameterType="long">
        delete from sky_oper_role where oper_id = #{operId}
    </delete>
	
</mapper>